.error-text {
  color: rgb(255, 111, 86);
}

a {
  text-decoration: none;
}

/* button classes */
.btn-lr {
  border-radius: 0.7rem;
}

.btn-s {
  padding: 0.7rem 1rem;
}
.btn-sx {
  padding: 0.5rem 0.8rem;
}
.btn-sx1 {
  padding: 0.75rem 0.85rem;
}

/* .btn:disabled {
  background-color: rgba(109, 162, 207, 0.699);
} */

/* border classes */
.rb1 {
  border-radius: 1rem;
}
.rb2 {
  border-radius: 2rem;
}
.rb3 {
  border-radius: 2.5rem;
}
.rb4 {
  border-radius: 3rem;
}

/* text class */
.text-lg {
  font-size: 2rem;
}
.text-lg1 {
  font-size: 1.5rem;
}
.text-sm1 {
  font-size: 0.9rem;
}

.text-muted2 {
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: 600;
}

.text-muted3 {
  font-weight: 500;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
}

.text-b1 {
  color: rgb(21, 20, 37);
}
/* inputs */

/* .form-control {
  padding: 0.7rem 1rem;
} */

.form-label {
  margin-bottom: 0;
}

.nav-link:active {
  border: none;
}
.nav-item:active {
  border: none;
}

.link-container:active {
  border: none;
  background-color: red;
}
